spring:
  data:
    rest:
      base-path: /api
    mongodb:
      uri: mongodb://root:secret7@localhost:10012/grocery_store
  jackson:
    date-format: 'yyyy/MM/dd HH:mm:ss.SSS z'
  quartz:
    job-store-type: memory