spring:
  data:
    rest:
      base-path: /api
  jackson:
    date-format: "yyyy-MM-dd'T'HH:mm:ss'Z'"
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:mysql://localhost:11010/grocery_store
    username: root
    password: cuba7
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: "produce-api"
---
spring:
  profiles: test
  jpa:
    hibernate:
      ddl-auto: create
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
    driver-class-name: org.h2.Driver
logging:
  level:
    root: WARN
